*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerQr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    border-radius: 20px;
    margin-top: 1.2rem;
    margin: 1px;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);

}
.voltab{
    max-width: 100%;
    width: 100%;
    background: #eef1f5;
    font-size: 16px;
    font-weight: 700;
    padding:2px;
    cursor: pointer;
    transition: 0.5s;

}
.voltab:hover{
    background-color: #a4a4a5;
    color:#eef1f5;
}
